
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}
body{
  background: hsl(0, 0%, 9%);
}
button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.navbar{
  padding: 0 45%;
  cursor: pointer;

  margin: 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.nav-link h1{
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 50px;
  align-self: center;
}
.logo img{
  width: 40px;
  height: auto;
}
a{
  text-decoration: none;
}
.card-list{
  padding: 80px 0;
 display: flex;
 flex-direction: column;
 margin: 30px;
 align-items: center;
 gap: 50px;
}
.card {
  width: 892px;
  height: auto;
  /* display: flex;
  flex-direction: column; */
  
  position:relative;
  
  display: flex;
  align-items: center;
}
.card .left {
  width: 480px;
  height: 553px;
  background: hsla(0, 0%, 100%, 0.09);
  /* border-radius: 23px; */
  display: flex;
  align-items: center;
}
.card .left .wordmark {
  opacity: 0.2;
  transform: rotate(-90deg) scale(1.2);
  margin-left: -90px;
}
.card .right {
  width: 654px;
  height: 479px;
  background: hsl(0, 0%, 0%);
  position: absolute;
  left: -10%;
  transform: translateX(50%);
  /* border-radius: 23px; */
}
.card .right .helmet {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card .right .productInfo {
  width: 300px;
  height: 300px;
  margin: 50px 0 0 235px;
  color: #fff;
  font-family: "Recoleta", serif;
}
.card .right .productInfo h1 {
  font-weight: 800;
  line-height: 46px;
  font-size: 40px;
  margin-bottom: 15px;
}
.card .right .productInfo h2 {
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 1.6px;
  margin-bottom: 30px;
}
.card .right .productInfo .details {
  height: 145px;
}
.card .right .productInfo .details .size,
.card .right .productInfo .details .durability {
  width: 50%;
  float: left;
}
.card .right .productInfo .details .size {
  border-right: 1px solid hsla(0, 0%, 100%, 0.09);
  padding: 30px 0;
}
.card .right .productInfo .details .durability {
  text-align: center;
}
.card .right .productInfo .details .durability h4 {
  margin-top: 20px;
  margin-bottom: 30px;
}
.card .right .productInfo button {
  height: 48px;
  background: hsla(0, 0%, 100%, 0.09);
  /* border-radius: 90px; */
  font-weight: 300;
  line-height: 35px;
  font-size: 14px;
  padding: 0 24px;
  color: #fff;
}
.card .right .productInfo i.fav {
  font-size: 12px;
  margin: 0 12px 0 24px;
  color: hsla(0, 0%, 100%, 0.09);
}
.card .right .productInfo a {
  font-size: 12px;
  color: #fff;
  /* opacity: 0.3; */
  text-decoration: none;
}
.card .right .productInfo h3 {
  width: 80px;
  height: 80px;
  font-weight: 300;
  line-height: 80px;
  font-size: 16px;
  margin-left: 30px;
  position: relative;
}
.card .right .productInfo h3:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid hsla(0, 0%, 100%, 0.09);
  border-top-color: transparent;
  transform: rotate(-45deg) translate(-50%, -50%);
}

.card .right .productInfo h4 {
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.card .right .productInfo p {
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: normal;
  text-align: center;
  font-weight: 300px;
  line-height: 28px;
  font-size: 14px;
  border-radius: 50%;
  transition: 0.3s linear;
  border: 1px solid transparent;
  cursor: pointer;
}
.card .right .productInfo p:hover {
  border: 1px solid hsla(0, 0%, 100%, 0.09);
}
.card .right .productInfo p:nth-of-type(1) {
  border: 1px solid hsla(0, 0%, 100%, 0.09);
}

.slider {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  line-height: 70px;
  text-align: center;
  margin-left: -30px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  color: hsla(0, 0%, 100%, 0.09);
  cursor: pointer;
}
.slider:nth-of-type(2) {
  position: absolute;
  top: 50%;
  right: -60px;
  transform: translate(-50%, -50%);
}



@-webkit-keyframes clickMe {
  50% {
    opacity: 0.4;
  }
}
@keyframes clickMe {
  50% {
    opacity: 0.5;
  }
}

